<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-gift"></span> Manage Your Birthday List</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="hidden well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <span id="userName"><%= user._id %></span><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                      <a href="/connect/local" class="btn btn-default">Connect Local</a>
      
                    <% } %>
            </div>
            <h3>Close Friends List</h3>  
            <ul class="favorites"> 
              <!-- Need to show all of the favorited birthdays. -->
              <% for(let i=0; i<birthdays.length; i++) {%>
                <% if (user.local.favorites.indexOf(birthdays[i]._id)!== -1) { %>
                <!-- we set this conditional for conditional rendering its stuper important, not unique to ejs. also we set it to -1 because if you do index of and there's
                no element then it returs -1  -->

                <!-- we have to go in to the user.local to access the favorites array like on line 24 -->
                <li class="birthdays">
                  <span><%= birthdays[i].name %></span>
                  <span><%= birthdays[i].date %></span>
                  <span class="hidden"><%= birthdays[i]._id %></span>
                  <span class="hidden"><%= birthdays[i].favorite %></span>
                  <% if (user.local.favorites.indexOf(birthdays[i]._id) === -1) { %>
                    <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                    <%  }%> 
                    
                  <span><i class="fa fa-ban" aria-hidden="true"></i></span>
                </li>
                <%  }%>  
              <% } %>
              </ul>
              <!-- we had to move the else here for access to user.local -->
              
              <!-- we closed the line 24 if statement here, so that we still have access to user.local -->
              <!-- things to do on my own
             1. write css styling to hide underscore id - find way to hide something so elements still exists
            2. change all vars to lets ()maybe not the most important thing ?) 
          3. what would it look if i removed a favorite? we used mongodb syntax for push so probably slice or some shit 
        4. What happens if i favorite something that I already favorited? How do i stop the suer from favoriting something twice? maybe click count ? 
      5. think of how to rwrite line 40 so that -->
        </div>
        <div class="col-sm-6">
          <h3>Birthdays</h3>
          <ul class="birthdates">
          <% for(let i=0; i<birthdays.length; i++) {%>
            <% if (user.local.favorites.indexOf(birthdays[i]._id) === -1) { %>
            <li class="birthdays">
              
              <span><%= birthdays[i].name %></span>
              <span><%= birthdays[i].date %></span>
              <span class="hidden"><%= birthdays[i]._id %></span>
              <!-- <span><%= birthdays[i].favorite %></span> -->
            
              <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
              
              <span><i class="fa fa-ban" aria-hidden="true"></i></span>
            </li>
            <%  }%>  
          <% } %>
          </ul>

          <h2>Add a Birthday</h2>
        <% if (user.local.email) { %>
          <form action="/create" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="date" placeholder="Enter Birthday" name="date">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
